[Unit]
Description=Biggs (Discord bot)

[Service]
Type=simple
WorkingDirectory=/opt/mycelia/
ExecStart=/bin/bash -c 'python3 ./mycelia run biggs'
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
